<div class="animated fadeInLeft contact_photo">
    <%= image_tag("head_shot.jpg", :class => 'head_shot', :alt => "social") %>
</div>
<div class="contact_information animated fadeInLeft">
    <h3>
        <strong>
         Contact Kathrin Swoboda
        </strong>
    </h3>
    <a href="mailto:kswoboda2421@gmail.com">
        <%= image_tag("gmail.png", :class => 'social', :alt => "social") %>
    </a>
    <a target="_blank" href="https://www.facebook.com/KathrinSwobodaPhotography/">
        <%= image_tag("fb.png", :class => 'social', :alt => "social") %>
    </a>
    <a target="_blank" href="https://www.flickr.com/photos/artinnature/">
        <%= image_tag("flickr.png", :class => 'social', :alt => "social") %>
    </a>
</div>