<div class="col-xs-12">
  <div class="album_grid">
  </div>
  <a id="back_button" class="glyphicon glyphicon-arrow-left" type="button"></a>
  <div class="grid">
    <div class="grid-sizer"></div>
  </div>
  <div class="modal bs-example-modal-lg fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" 
  id="modal-fullscreen" aria-hidden="true" >
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <div class="modal-body">
            <div id="myCarousel" class="carousel col-xs-12" data-ride="carousel">
             <!-- insert items js -->
              <div class="carousel-inner" role="listbox" id="photos-in-carousel">
                <div class="item active" id="item_active">
                </div>
              </div>
              <!-- Left and right controls -->
              <div class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </div>
              <div class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn close-button">close</button>
            <p class="copyright">© 2018 Kathrin Swoboda Photography</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
