<div class="awards-wrapper animated fadeInLeft">
  <h2>Awards</h2>
  <ul class="list-unstyled">
    <li>Gold Medal in Color Digital 2018 Sydney Exhibition of Photography</li>
    <li>Grand Champion, Art in Nature Photography Competition 2018, Ward Museum at Salisbury University</li>
    <li>Bronze Medal in NATURE at the ONYX 2018 International Exhibition of Photography, Romania</li>
    <li>Nature Visions Photography Expo "Best in Show" 2017</li>
    <li>PSA International - Nature Digital "Best Bird" 2017</li>
    <li>Winner Nature’s Best (Backyards) 2017</li>
    <li>Nature Visions Mid- Atlantic Photo Expo 2016: Winner of Macro Category (tie)</li>
    <li>PSA Chapter Showcase “Best of Showcase Gold Award” December 2016</li>
    <li>Nature’s Best: Winner (Backyards) 2 images published in Nature’s Best Spring Summer 2016</li>
    <li>National Wildlife Federation: Finalist 2015</li>
    <li>Nature’s Best: Winner (Backyards) Image published in Spring/ Summer 2015 Edition</li>
  </ul>
</div>