<div class="animated fadeInLeft contact_photo">
    <img class="head_shot" src="assets/images/head_shot.jpg">
</div>
<div class="contact_information animated fadeInLeft">
    <h3>
        <strong>
         Contact Kathrin Swoboda
        </strong>
    </h3>
    <a href="mailto:kswoboda2421@gmail.com">
        <img class="social" src="assets/images/gmail.png">
    </a>
    <a target="_blank" href="https://www.facebook.com/KathrinSwobodaPhotography/">
        <img class="social" src="assets/images/fb.png">
    </a>
    <a target="_blank" href="https://www.flickr.com/photos/artinnature/">
        <img class="social" src="assets/images/flickr.png">
    </a>
</div>