<div class="white">
	<br>
	<%= link_to albums_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
	  <i class="material-icons">arrow_back</i>
	<% end %>

	<h4>New Photo</h4>

	<%= render 'form', photo: @photo %>

</div>

