<div id="mySidenav" class="vertnav collapse">
  <div data-toggle="collapse" data-target="#mySidenav">
    <a class="closebtn">&times;</a>
  </div>        
  <a href="awards.html">Awards</a>
  <a href="contact.html">Contact</a>
  <a href="galleries.html">Galleries</a>
</div>