<nav>
<div class="nav-wrapper blue-grey lighten-2">
  <a href="/"  class="brand-logo no-underline space-left">Kathrin Swoboda Photography</a>
  <a target="_blank" class="right space-right" href="http://localhost:8000">Local Site</a>
</div>
</nav>